* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('font/Vazirmatn-Black.ttf');
}

body {
    font-family: 'Vazirmatn';
    direction: rtl;
}

.container {
    margin: auto;
    padding: 3rem 2rem;
    width: 500px;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #1565c0;
}

form {
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    border-radius: 5px;
    font: inherit;
    border: 1px solid #e0e0e0;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    border: 0;
    background: #1565c0;
    color: #ffffffff;
    border-radius: 5px;
    margin: 5px 0;
    font: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

li {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
}